@{
    ViewBag.Title = "Home Page";
    ViewBag.IsEditableList = false;
}

<div class="jumbotron">
    <h1>Warehouse</h1>
    <p class="lead">This resource shows us creating Warehouse application based on ASP.NET technology.</p>
</div>

@Html.Partial("_ProductsList")