@{
    ViewBag.Title = "Index";
    ViewBag.IsEditableList = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("_ProductsList")
