
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<p>
    @Html.ActionLink("Groups List", "Index", "Catalog")
</p>
<p>
    @Html.ActionLink("Products List", "Index", "Product")
</p>


